@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-gradient-text {
  background: linear-gradient(to bottom left,
      #3b3d41 0%,
      #3b3d41 70%,
      #a7a7a7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
